.p-b-120{
	padding-bottom: 120px!important;
}

.b-r-0{
	border-right: 0!important;
}

.left-content-strategy{
	  height: 390px!important;
}

.p-l-15{
	padding-left: 15px!important;
}

.p-t-15{
	padding-top: 15px!important;
}

.asset-align{
	width: 250px;
  text-align: left;
  left: 50%;
  margin-left: -316px;
}

.shadow-box,.shadow-box1,.shadow-box2{
        		  width: 100%;
				  height: 100%;
				  background: #000;
				  opacity: 0.5;
				  position: absolute;
				  z-index: 1;
				  top: 0;
				  display: none;

}

.fade_in_text,.fade_in_text1,.fade_in_text2{
        		position: relative;
  				top: 45px;
  				opacity: 0;
  				z-index: 10;
  				margin-bottom: 250px;

 }

.fade_in_text{
      margin-top: 250px;
}

.fade_in_text1{
        		margin-top: 150px;
}

.fade_in_text2{
        		margin-top: 180px;
}
        	

.fade_in_text h5{
        		font-size: 18px!important;
}

.fade_in_text p,.fade_in_text a{
        		font-size: 20px!important;
        		font-weight:300;
}

.fullscreen-projects .project{
    border: 10px solid white;
}

.br{
	display: none;
}

@media(max-width: 768px){
	.trident{
		border-right: 10px solid white!important;
	}
	.asset-align{
	 	margin-left: -125px;
	}

	.fade_in_text1{
		margin-top: 30px
	}

	.fade_in_text2{
		margin-top: 50px
	}

	.hero-slider .argyle-text {
	  font-size: 25px!important;
	  word-break: break-all!important;
	}

	.hero-slider .sauchiehall-text {
	  font-size: 28px!important;
	  word-break: break-all!important;
	}

	br{
		display: block!important;
	}

	.br{
		display: block;
	}

	.fade_in_text{
		height: 0px!important;
		  margin-top: 228px!important;
	}
}

